<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sec.aidog.dao.DevResourceMapper" >
  <resultMap id="BaseResultMap" type="com.sec.aidog.pojo.DevResource" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="mid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ccid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="category" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="extension" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="path" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="size" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updaterId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="resourceDescribe" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mid, num, ccid, category, createTime, extension, name, path, size, type, updateTime,
    updaterId, url, resourceDescribe
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sec.aidog.model.DevResourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from d_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from d_resource
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from d_resource
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sec.aidog.model.DevResourceExample" >
    delete from d_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sec.aidog.pojo.DevResource" >
    insert into d_resource (id, mid, num,
      ccid, category, createTime,
      extension, name, path,
      size, type, updateTime,
      updaterId, url, resourceDescribe
      )
    values (#{id,jdbcType=VARCHAR}, #{mid,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER},
      #{ccid,jdbcType=VARCHAR}, #{category,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP},
      #{extension,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR},
      #{size,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP},
      #{updaterid,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{resourcedescribe,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sec.aidog.pojo.DevResource" >
    insert into d_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mid != null" >
        mid,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="ccid != null" >
        ccid,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="extension != null" >
        extension,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="updaterid != null" >
        updaterId,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="resourcedescribe != null" >
        resourceDescribe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="ccid != null" >
        #{ccid,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="extension != null" >
        #{extension,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterid != null" >
        #{updaterid,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="resourcedescribe != null" >
        #{resourcedescribe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sec.aidog.model.DevResourceExample" resultType="java.lang.Integer" >
    select count(*) from d_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update d_resource
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.mid != null" >
        mid = #{record.mid,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.ccid != null" >
        ccid = #{record.ccid,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.extension != null" >
        extension = #{record.extension,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null" >
        path = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null" >
        size = #{record.size,jdbcType=BIGINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.updatetime != null" >
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updaterid != null" >
        updaterId = #{record.updaterid,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.resourcedescribe != null" >
        resourceDescribe = #{record.resourcedescribe,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update d_resource
    set id = #{record.id,jdbcType=VARCHAR},
    mid = #{record.mid,jdbcType=VARCHAR},
    num = #{record.num,jdbcType=INTEGER},
    ccid = #{record.ccid,jdbcType=VARCHAR},
    category = #{record.category,jdbcType=INTEGER},
    createTime = #{record.createtime,jdbcType=TIMESTAMP},
    extension = #{record.extension,jdbcType=VARCHAR},
    name = #{record.name,jdbcType=VARCHAR},
    path = #{record.path,jdbcType=VARCHAR},
    size = #{record.size,jdbcType=BIGINT},
    type = #{record.type,jdbcType=INTEGER},
    updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
    updaterId = #{record.updaterid,jdbcType=VARCHAR},
    url = #{record.url,jdbcType=VARCHAR},
    resourceDescribe = #{record.resourcedescribe,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sec.aidog.pojo.DevResource" >
    update d_resource
    <set >
      <if test="mid != null" >
        mid = #{mid,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="ccid != null" >
        ccid = #{ccid,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="extension != null" >
        extension = #{extension,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterid != null" >
        updaterId = #{updaterid,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="resourcedescribe != null" >
        resourceDescribe = #{resourcedescribe,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sec.aidog.pojo.DevResource" >
    update d_resource
    set mid = #{mid,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      ccid = #{ccid,jdbcType=VARCHAR},
      category = #{category,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      extension = #{extension,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      size = #{size,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      updaterId = #{updaterid,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      resourceDescribe = #{resourcedescribe,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>